<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item {% if page.url == '/blog/' %}is-active{% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
    <a class="c-navigation__item {% if page.url == '/work/' %}is-active{% endif %}" href="{{ "/work/" | prepend: site.baseurl }}">Work</a>
    <a class="c-navigation__item {% if page.url == '/gitub/' %}is-active{% endif %}" href="https://github.com/DarrenAtherton49">GitHub</a>
  </div>
</nav>
