<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href={{ "/" | prepend: site.baseurl }} class="btn">Home</a>
  <a href={{ site.githublink }} class="btn">GitHub</a>
  <a href={{ site.twitterlink }} class="btn">Twitter</a>
  <a href={{ site.speakerdecklink }} class="btn">Talks</a>
  <a href={{ site.mediumlink }} class="btn">Medium</a>
  <a href={{ site.linkedinlink }} class="btn">LinkedIn</a>
  <a href={{ site.resumelink }} class="btn">Resume</a>
</section>