---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      {% if page.title %} <h1 class="c-header__title">{{ page.title }}</h1>  {% endif %}
    </div>
  </header>

  <div class="c-article__main">

  <center>
  	{% if page.app_screenshot_path_1 %} <img src="{{ page.app_screenshot_path_1 }}" alt="App screenshot 1" style="width: 320px;"/> {% endif %}
  	{% if page.app_screenshot_path_2 %} <img src="{{ page.app_screenshot_path_2 }}" alt="App screenshot 2" style="width: 320px;"/> {% endif %}
  </center>

  	<br/>

  	<h2> Links </h2>
  	<ul>
  		{% if page.app_play_store_url %} <li> <a href="{{ page.app_play_store_url }} ">Get the app on Google Play</a> </li> {% endif %}
  		{% if page.app_github_url %} <li> <a href="{{ page.app_github_url }} ">View on GitHub</a> </li> {% endif %}
	</ul>
  	
    {% include comments.html %}
  </div>
</article>
